//给项目提供scss全局变量

$base-menu-width: 260px;
$base-menu-background: #001529;

$base-tabbar-height: 50px;
$base-tabbar-background: #cbd5df;

$base-content-background: yellowgreen;

$base-logo-height: 60px;
